<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="OrganicBreads, ​Delicious Baking, ​Fresh breads, cakes and pasties, Our ​Breads, ​Delicious Baking.
Exceptional
Quality., ​Sweets Menu, ​Our freshly baked bread is the hero of our breakfast menu, Contact Us">
    <meta name="description" content="">
    <title>Товары</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Товары.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Животные"
}</script>
    <meta name="theme-color" content="#313789">
    <meta property="og:title" content="Товары">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="ru"><header class="u-clearfix u-header u-palette-5-light-2 u-sticky u-sticky-c2f3 u-header" id="sec-76ba"><div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-offcanvas-shift u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="Главная.html" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="Контакты.html" style="padding: 10px 20px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="О-нас.html" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="/shop" style="padding: 10px 20px;">Товары</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="/cart" style="padding: 10px 20px;">Корзина</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="/enter" style="padding: 10px 20px;">Вход</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-1 u-text-hover-palette-5-dark-1" href="/profile" style="padding: 10px 20px;">Профиль</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Главная.html">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Контакты.html">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="О-нас.html">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/shop">Товары</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/cart">Корзина</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/enter">Вход</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="images/paw_PNG62.png" alt="" data-image-width="1280" data-image-height="1280">
        <h3 class="u-headline u-hidden-lg u-hidden-xl u-text u-text-1">
          <a href="/">У МЕНЯ ЛАПКИ </a>
        </h3>
      </div></header>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-4" id="sec-843f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">Аксессуары</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <% accessories.forEach(accessory => {  
              let randomImage = images[Math.floor(Math.random() * images.length)]; %> 
              <div class="u-align-left u-container-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2"> 
                <div class="u-container-layout u-similar-container u-container-layout-2"> 
                  <img class="u-expanded-width u-image u-image-round u-radius-15 u-image-2" alt="" data-image-width="800" data-image-height="800" src="<%= randomImage %>"> 
                  <h4 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-5"><%= accessory.name %></h4> 
                  <p class="u-align-center u-text u-text-5"><%= accessory.price %> руб.</p> 
                  <a href="#" class="u-active-none u-btn u-button-style u-hover-none u-none u-text-hover-palette-5-dark-3 u-text-palette-5-dark-3 u-btn-2" data-accessory-id="<%= accessory.id %>"> 
                    <span class="u-icon u-text-palette-5-dark-3"> 
                      <svg class="u-svg-content" viewBox="0 0 511.334 511.334" style="width: 1em; height: 1em;"> 
                        <path d="m506.887 114.74c-3.979-5.097-10.086-8.076-16.553-8.076h-399.808l-5.943-66.207c-.972-10.827-10.046-19.123-20.916-19.123h-42.667c-11.598 0-21 9.402-21 21s9.402 21 21 21h23.468l23.018 256.439c.005.302-.01.599.007.903.047.806.152 1.594.286 2.37l.842 9.376c.016.177.034.354.055.529 2.552 22.11 13.851 41.267 30.19 54.21-8.466 10.812-13.532 24.407-13.532 39.172 0 35.106 28.561 63.667 63.666 63.667 35.106 0 63.667-28.561 63.667-63.667 0-7.605-1.345-14.9-3.801-21.667h114.936c-2.457 6.767-3.801 14.062-3.801 21.667 0 35.106 28.561 63.667 63.667 63.667s63.667-28.561 63.667-63.667-28.561-63.667-63.667-63.667h-234.526c-15.952 0-29.853-9.624-35.853-23.646l335.608-19.724c9.162-.538 16.914-6.966 19.141-15.87l42.67-170.67c1.567-6.272.158-12.918-3.821-18.016z"></path> 
                      </svg> 
                    </span> Добавить в корзину 
                  </a> 
                </div> 
              </div> 
            <% }) %>            
          </div>
        </div>
      </div>
      <br/><br/><br/>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e1aa"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Магазин товаров для домашних питомцев "У МЕНЯ ЛАПКИ"&nbsp;</p>
      </div></footer>
  
      <script>
        document.querySelectorAll('.u-btn-2').forEach(button => {
            button.addEventListener('click', function() {
                const accessoryId = this.getAttribute('data-accessory-id');

                fetch('/addAccessoryToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        accessoryId: accessoryId
                    }),
                })
                .then(response => {
                    if (response.ok) {
                        // Обработка успешного добавления в корзину
                        console.log("Товар успешно добавлен в корзину!");
                    } else {
                        // Обработка ошибки добавления в корзину
                        console.error("Ошибка при добавлении товара в корзину");
                    }
                })
                .catch(error => {
                    // Обработка ошибки во время выполнения запроса
                    console.error("Произошла ошибка при выполнении запроса:", error);
                });
            });
        });
      </script>
</body></html>